body{
    margin:0;
    font-family: sans-serif;
}
#para-heading{
    text-align: center;
    color: grey;
    margin-top: 25px;
    font-size:2.2rem;
}
#list{
    width:500px;
    height: auto;
    margin-left:35%;
}
#list ul{
    list-style: none;
    margin-top: 0;
}
#list ul li{
    background-color:rgb(19, 132, 170);
    margin-top:2px;
}
#list ul li:hover{
    background-color: grey;
}
#list ul li p{
    color: white;
    display: inline-block;
}
#para2{
    margin-left:235px;
}
#input{
    margin-left:38%;  
}
#input form input{
    display: block;
    margin-top:5px;
}
#input form input button{
    margin-top: 5px;
}